<div class="padding">
    <mat-form-field class="full-width">
        <input matInput placeholder="Filter by name" [(ngModel)]="filter.name" (ngModelChange)="inputChange()">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-chip-list #chipList aria-label="Category selection">
            <mat-chip *ngFor="let filter of filter.chips" selectable="false" removable="true"
                (removed)="filterRemove(filter)">
                {{filter.get('name')}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Filter by category" #category [formControl]="formControl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" matChipInputAddOnBlur="true">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterSelected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{category.get('name')}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>
<mat-grid-list [cols]="columnsGrid" rowHeight="120px">
    <mat-grid-tile rowspan="1" *ngFor="let tool of tools">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{tool.get('name')}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="small-chip" *ngFor="let category of tool.get('categories')">{{category.get('name')}}</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>