.small-chip {
  font-size: xx-small;
}
.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
}

.content {
  width: 100%;
  display: table;
}
.row {
  display: table-row;
}
mat-form-field {
  width: 50%;
}
mat-card {
  margin: 5px;
}
.category {
  width: 30%;
  display: table-cell;
}
.tools {
  width: 70%;
  display: table-cell;
}
.grid-tools {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 992px) {
  .grid-tools {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  mat-form-field {
    width: 100%;
  }
  .category {
    display: none;
  }
  .tools {
    width: 100%;
    display: table-row;
  }
}