<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span routerLink="/">The Curse Of Knowledge</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button (click)="login()" *ngIf="!isLogedIn">Login <mat-icon>person</mat-icon></button>
  <button mat-button routerLink="/manage" *ngIf="isLogedIn">Manage <mat-icon>settings</mat-icon></button>
  <button mat-button (click)="logout()" *ngIf="isLogedIn">Logout <mat-icon>logout</mat-icon></button>
</mat-toolbar>
<router-outlet></router-outlet>